<input type="text" [(ngModel)]="id" placeholder="id" />
<br>
<input type="text" [(ngModel)]="numero1" placeholder="numero1" />
<br>
<input type="text" [(ngModel)]="numero2" placeholder="numero2" />
<br>
<select id="operacion" [(ngModel)]="operacion">

  <option value="suma">suma</option>
  <option value="resta">resta</option>
  <option value="multiplicacion">multiplicacion</option>
  <option value="division">division</option>        
</select>

<br>
<select id="metodo" [(ngModel)]="metodo">

  <option value=1>POST</option>
  <option value=2>GET
    </option>
    </select>
    <br>
    <input type="text" [(ngModel)]="resultado" placeholder="resultado" />

    <button (click)="exect()" >
       Enviar
        </button>